html {
    background: #f9f9f9;
    font-family: "Helvetica", "Helvetica", "Helvetica";
}

//p {
    font-family: "Helvetica", "Helvetica", "Helvetica";
}

.topnav {
  background-color: #ffff;
    overflow: hidden;
}

.margin {
 margin-left: 2.25%;
 margin-right: 2.25%;
    
}
.column {
  float: left;
text-align: center;
  width: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.nav a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10.2px;
  text-decoration: none;
  font-size: 17px;
}

body {
    background: #ffffff;
    max-width: 960px;
    font-family: "Helvetica Neue";
    padding: 2em 2em 4em;
    margin: auto;
    
    
}
