html {
    background: #f9f9f9;
}

p {
    font-family: "Helvetica", Helvetica, Helvetica;
}

.topnav {
  background-color: #ffff;
    overflow: hidden;
}

.margin {
 margin-left: 2.25%;
 margin-right: 2.25%;
    
}

.nav a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10.2px;
  text-decoration: none;
  font-size: 17px;
}

body {
    background: #ffffff;
    max-width: 960px;
    font-family: "Helvetica Neue";
    padding: 2em 2em 4em;
    margin: auto;
    
    
}
